.name-section {
  /* background-color: rgba(0,0,0,0.2); */
  height: 100vh;
  width: 100%;
}

.name {
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
  /* margin-top: 17vh; */
  position: fixed;
  top: 15rem;
}

.contact-top {
  font-size: 3rem;
  position: fixed;
  top: 4rem;
  font-family: $font-primary;
  transition: color .5s ease;

  &:hover {
    transition: color .5s ease;
    color: rgb(255, 213, 188);

  }
}

h3 {
  color: $color-secondary;
}

h1 {
  font-size: 6rem;
  font-family: $font-primary;
  letter-spacing: 3px;
}

h1:not(:last-child) {
  margin-bottom: -0.4rem;
}



@media (max-width: 800px) {
  .name-section {
    height: 85vh;
    padding-left: 2rem;
  }

  .name {
    padding: 0 10px;
  }

  h1 {
    font-size: 5rem;
    
  }
}



@media (max-width: 500px) {
  .name-section {
    height: 80vh;
    padding-left: .75rem;
  }

  h1 {
    font-size: 3.75rem;
    
  }
}




