$color-primary: #4281a4;
$color-secondary: #e6b89c;
$color-contact: #4bace0;
$color-contact-background: rgba(230, 185, 157, 0.9);
$font-primary: 'Cantata One', serif;
$font-secondary: 'Open Sans', sans-serif;

// 'Pacifico', cursive
// 'Fugaz One', cursive

// 'Yellowtail', cursive;
// 'Old Standard TT', serif

//Secondary
// 'Roboto', sans-serif;
// 'Open Sans', sans-serif
